* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:#10101c;
    font-family: 'Poppins', sans-serif;
  }
.main{
  background-color: #f58eac;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  border-radius: 5px;
  color: rgb(255, 255, 255);
  width: 570px;
  height: 400px;
  padding: 25px;
}
h3{
  text-transform: uppercase;
  /* letter-spacing: 1.5px; */
  margin-bottom: 15px;
}
.input-grp{
  display: flex;
  margin-bottom: 15px;
}
#text-input-field{
  width: 100%;
  padding: 15px;
  height: 35px;
  margin-top: 10px;
  color: white;
  font-size: large;
  /* font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px; */
}
#add-button{
  padding: 5px;
  border:none;
  background-color: transparent;
  border-radius: px;
  margin-top: 10px;
  
  
  
}
.todos-container{
  /* overflow-y: scroll; */
}
.todo-item-container{
  display: flex;
  /* margin-bottom: 3px; */
  font-size: large;
}
#todo-text{
  width: 100%;
  font-size: 18px;
  letter-spacing: 1.5px;
  user-select: none;
} 
.line-through{
  text-decoration: line-through;
  color: blue;
}
#edit-button{
  
  padding: 0;
  border-bottom: none;
  border: none;
  background-color:transparent;
  margin-right: 10px;
  
}
#delete-button{
  color: rgb(255, 255, 255);
  padding: 5px;
  border: none;
  background-color: transparent;

}



 

  